:root {
    --grey: rgb(226, 226, 226);
    --backing: rgb(240,240,240);
    --txtMain: rgb(56,56,56);
    --txtTitle: rgb(90,90,90);
    --mainFont: 'roboto', sans-serif;
    --seekbarColor: #55cfff;

    /* DARK MODE CONSTANTS:
    --grey: rgb(34, 34, 34);
    --backing: rgb(24, 24, 24);
    --txtMain: rgb(255, 255, 255);
    --txtTitle: rgb(155, 155, 155);
    --mainFont: 'roboto', sans-serif;
    --seekbarColor: #00a2ff; */
}

body {
    margin: 0px;
}

canvas {
    display: block;
    filter:saturate(2);
}

.upload_btn {
    position: relative;
    text-align: center;
    
    /* position: absolute; */
    background-color: var(--grey);
    border-radius: 10px;
    
    align-self: center;
    width: 145px;
    height: 80px;
    margin-left: auto;
    margin-right: 10px;
    color: var(--txtMain);
    z-index: 2;
}

.button-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-family: var(--mainFont);
    font-weight:normal;
    font-size: 12pt
}

#controller {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    /* left: 10px;     */
    left: -100%;  
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;    
    height: 110px;
    min-width: 350px;
    max-width: 400px;
    align-content: center;
    background-color: var(--backing);
    z-index: 2;
    overflow: hidden;    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.scrubber {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    z-index: inherit;
    width: 100%;
    border-radius: 20px;
}

.seek_bar {
    appearance: none;
    height: 3px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    cursor: pointer;
    background: var(--grey);
    overflow: hidden;
}

.seek_bar::-webkit-slider-thumb {
    appearance: none;
    box-shadow: -400px 0 0 400px var(--seekbarColor);
    width: 10px;
    height: 3px;
}

#info {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px;    
    height: 100px;
    max-width: 400px;
    align-content: center;
    background-color: var(--backing);
    z-index: 1;
}

/* .shown {
    outline-style: solid;
    outline-width: 2px;
    outline-color: white;
    
    transition:all 400ms ease-in-out;
    border-radius: 10px;
} */

#panel {
    align-self: center;
    background-color: var(--grey);
    margin: 10px;
    border-radius: 10px;
    font-family: var(--mainFont);
    height: 80px;
    flex-grow: 1;
    overflow: hidden;

}

.curr-playing {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: var(--mainFont);
    font-weight: normal;
    font-size: 12pt;
    
}

.player_text {
    font-family: var(--mainFont);
    font-weight: normal;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 12pt;
    color: var(--txtTitle);
}

audio {
    visibility: hidden;
    position: absolute;
}

/* .not-shown {
    outline: none;
    background-color: none;
    transition:all 400ms ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.not-shown:hover {
    opacity: 1;
    cursor: pointer;
    outline-style: solid;
    outline-width: 2px;
    outline-color: white;
    background-color: rgba(0,0,0,0.2);
   
    color:rgb(255, 255, 255);
    
    scale: 1.1;
} */

input[type="file"]{
    display: none;
}

/* #instruct {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    align-self: center;
    width: 400px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    color:whitesmoke;
    z-index: 10;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20pt
} */

h1 {
    font-family: var(--mainFont);
    color: var(--txtMain);
    font-size: 15pt;
}

#hover_button {
    position: absolute;
    z-index: 1;
    opacity: 0.85;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    bottom: 20px;
    left: 20px;
    background-color: var(--backing);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

#hover_button:hover {
    opacity: 0;
    left: -20px;
}



#hover_button:hover + #controller {
    left: 20px;
    opacity: 0.85;
}

#controller:hover {
    left: 20px;
    opacity: 0.85;
}

